.btn-warning:hover{background-color:blanchedalmond; color: black;}
canvas
{
    border: 2px solid black;
    margin-top: 70px;
    animation-name: rgb;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes rgb{
    from{
        box-shadow: 5px 5px 12px orangered;
    }
    to{
        box-shadow: 5px 5px 12px red;
    }
}